<mat-card>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Наименование</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Описание</mat-label>
            <input matInput [(ngModel)]="description">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Цена</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="price">
            <span matPrefix>Р&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>
    </p>

<mat-form-field appearance="fill">
    <mat-label>Product</mat-label>
    <input matInput type="text" [formControl]="textFormControl" placeholder="Redact one" aria-label="Base"
        [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-card-actions>
    <button mat-raised-button color="basic" routerLink="/productDetail">
        Создать Продукт
    </button>
</mat-card-actions>
</mat-card>